:root{
		font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: 'Starborn';
    src: url('fonts/Starborn.eot');
    src: url('fonts/Starborn.eot') format('embedded-opentype'),
         url('fonts/Starborn.woff2') format('woff2'),
         url('fonts/Starborn.woff') format('woff'),
         url('fonts/Starborn.ttf') format('truetype'),
         url('fonts/Starborn.svg#Starborn') format('svg');
}

.site-branding__text, .page-title{
  font-family: 'Starborn';
  text-shadow: 3px 3px black, -1px -1px black;
}

body{
background-image: url('pop-culture-logo-01.svg');
}

h2.field-content{
	font-size: 1.3rem;
  line-height: 1.4rem;
}

.cs-vignette-vue-page{
	text-align: center;
	background-color: #333;
}

.cs-vignette-vue-page img{
  object-fit: cover;
  width: 100%;
  height: 220px;
}